body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #b8d8e0;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
}

div button{
    width: 70px;
}

.correct {
    color: green;
}


.incorrect {
    color: red;
}