html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #b8d8e0;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
}

div p#donthaveaccount{
    margin-bottom: 150px;
}

div button{
    width: 70px;
}

.correct {
    color: green;
}


.incorrect {
    color: red;
}