html {
    scroll-behavior: smooth;
}
body {
    margin: 0;
    background-color: #b8d8e0;
    display: flex;
    justify-content: center;
}

div {
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    max-width: 300px;
    margin-top: 50px;
}

div p.dont-haveaccount{
    margin-bottom: 150px;
}

div button{
    width: 70px;
}

h1#title {
    padding-top: 50px;
}

.correct {
    color: green;
}


.incorrect {
    color: red;
}

label {
  display: inline-block;
  width: 150px;
  margin-bottom: 8px;
}

input {
  width: 200px;
  padding: 4px;
  box-sizing: border-box;
}